html
  head
    title WOW!music
    link(rel='stylesheet', type='text/css', href='style.css')
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js")
    //- script(src='../vendor/uikit/dist/js/uikit.min.js')
    //- script(src='../vendor/uikit/dist/js/uikit-icons.min.js')
  body.main
    section(class='container uk-container')
      h1(class='container container__title') WOW!music
      block content