@import panel

.main
    background: linear-gradient(135deg, rgb(201,0,154) 0%,rgb(255,102,104) 42%,rgb(255,102,104) 57%,rgb(255,0,0) 100%)
    background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.5), transparent 100px), radial-gradient(circle at top right, rgba(255, 255, 255, 0.5), transparent 100px), radial-gradient(at bottom left, rgba(255, 0, 255, 0.5), transparent 400px), radial-gradient(at bottom right, rgba(255, 100, 100, 0.5), transparent 400px)

.container    
    &__title
        text-align: center
        color: black
        font-family: 'Coiny', cursive
        margin-top: 0.5em