extends ../layout

include ../feedback/index

block content
    section.register
      h2
        span.register__title Register
      form(method='POST', action='/register')
        div.uk-margin
          div.uk-inline
            span(class='uk-form-icon', uk-icon='icon: user')
            input(class='uk-input', name='name', type='text', placeholder='name', required='')
        div.uk-margin
          div.uk-inline
            span(class='uk-form-icon', uk-icon='icon: user')
            input(class='uk-input', name='surname', type='text', placeholder='surname', required='')
        div.uk-margin
          div.uk-inline
            span(class='uk-form-icon', uk-icon='icon: mail')
            input(class='uk-input', name='email', type='email', placeholder='email', required='')
        div.uk-margin
          div.uk-inline
            span(class='uk-form-icon', uk-icon='icon: lock')
            input(class='uk-input', name='password', type='password', placeholder='password', required='')
        div.uk-margin
          div.uk-inline
            span(class='uk-form-icon', uk-icon='icon: unlock')
            input(class='uk-input', name='passwordConfirm', type='password', placeholder='confirm password', required='')
        div.uk-margin
          button(class='uk-button uk-button-danger register__button', type='submit') Register
      if feedback
        +feedback(feedback, 'warn')
      | Go 
      a(class='login__link', href='/') Home
      |  or 
      a(class='login__link', href='/login') Login